  <% link_to "Home", root_path %>

<% link_to "about", about_path %>


  <h1>About me !</h1>                                                                        
<p> i am a freelanc ecoder i hope you enjoy this app</p>