<% link_to "Home", root_path %>

<% link_to "about", about_path %>


<% link_to "about", abou_path %>
<h1>Welcome to Lost?Found.</h1>
<p>Click here to sighn up.</p>
<%=link_to 'here",www,facebook.com%>